<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ricardo Martínez Montes</title>

    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="apple-touch-icon" href="client/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="client/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="client/icons/apple-touch-icon-114x114.png">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="plugins/creative-brands/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="plugins/vertical-carousel/vertical-carousel.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" ng-app="personalPage" ng-controller="main">
<a href="#page-top" class="scroll-up scroll"><i class="fa fa-chevron-up"></i></a>
<h1>Personal page</h1>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i
                        class="fa fa-bars"></i></button>
                <img src="image/ricardo.jpg" class="navbar-logo pull-left" alt=""/>
                <a href="index.html" class="navbar-brand animated flipInX">Ricardo Martínez</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavigation">
                <ul class="nav navbar-nav navbar-right animated flipInX">
                    <li><a href="#about" class="scroll">About me</a></li>
                    <!--<li><a href="#reference" class="scroll">Reference</a></li>-->
                    <!--<li><a href="#pricing" class="scroll">Pricing</a></li>-->
                    <li><a href="#contact" class="scroll">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <img src="image/ricardo.jpg"
             class="img-circle scrollpoint sp-effect3" alt=""/>
        <div class="social-wrapper">
            <ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
                <li><a target="_blank" href="https://github.com/mrtnzrcrd"><i class="fa fa-github"></i></a></li>
                <li>
			<a target="_blank" href="https://www.linkedin.com/in/ricardo-martinez-montes">
				<i class="fa fa-linkedin"></i>
			</a>
		</li>
            </ul>
            <h2 class="scrollpoint sp-effect3">Ricardo Martínez Montes</h2>
            <ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
                <li><a target="_blank" href="https://www.facebook.com/martinezmontesricardo"><i
                        class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/rcrdmrtnz/"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active"><h3>I <i class="fa fa-heart icon-first"></i> analyst developer</h3></div>
                <div class="item"><h3>Creative coder <i class="fa fa-code icon"></i></h3></div>
                <div class="item"><h3>Software Arquitect <i class="fa fa-code icon"></i></h3></div>
                <div class="item"><h3><i class="fa fa-trophy"></i> Javascript Expert</h3></div>
            </div>
        </div>
        <a href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button"><i
                class="fa fa-smile-o"></i> Know me better</a>
        <a href="https://www.linkedin.com/in/ricardo-martinez-montes" class="btn btn-reference btn-lg btn-active scroll scrollpoint sp-effect2" role="button"><i
                class="fa fa-bolt"></i> Hire me</a>
    </div>
</header>
<section id="about" class="content-first">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 hidden-xs scrollpoint sp-effect1"><!-- Profile image -->
                <img src="image/ricardo.jpg" class="image-bordered img-responsive" alt=""/>
            </div>
            <div class="col-md-7 col-sm-6 scrollpoint sp-effect1"><!-- Profile description -->
                <h3>Ricardo Martínez Montes</h3>
                <p>Software Arquitect & Javascript Expert.</p>
                <div class="media">
                    <div class="media-body">
                        <div id="slideshow1" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h1>{{ name }}</h1>
                                    <h4>{{ getTitle() }}</h4>
                                    <p>{{ getDesc() }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 scrollpoint sp-effect2">
                <div class="timeline">
                    <div class="event" ng-class="{ 'greenColor': items.mastercamping.enabled }"
                         ng-mouseover="stop('mastercamping')" ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">2016</div>
                        </div>
                        <span>MasterCamping</span>
                    </div>
                    <div class="event" ng-class="{ 'greenColor': items.regateame.enabled }"
                         ng-mouseover="stop('regateame')" ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">2015</div>
                        </div>
                        <span>Regateame</span>
                    </div>
                    <div class="event" ng-class="{ 'greenColor': items.vass.enabled }" ng-mouseover="stop('vass')"
                         ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">2014</div>
                        </div>
                        <span>VASS (GECO+ Project)</span>
                    </div>
                    <div class="event" ng-class="{ 'greenColor': items.indian.enabled }" ng-mouseover="stop('indian')"
                         ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">2013</div>
                        </div>
                        <span>IndianWebs</span>
                    </div>
                    <div class="event" ng-class="{ 'greenColor': items.scc.enabled }" ng-mouseover="stop('scc')"
                         ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">2012</div>
                        </div>
                        <span>Specialist Computer Centres</span>
                    </div>
                    <div class="event" ng-class="{ 'greenColor': items.others.enabled }" ng-mouseover="stop('others')"
                         ng-mouseout="start()">
                        <div class="event-info">
                            <div class="date">past</div>
                        </div>
                        <span>Other IT Jobs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> Check my skills</a>
            </div>
        </div>
    </div>
    <div id="skills">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6" ng-repeat="skill in skills">
                    <div class="chart" data-percent="{{skill.learned}}" ng-click="openUrl(skill.url)">
                        <img style='width: 66%;' ng-src="{{skill.icon}}" title="{{skill.title}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="content-second hide">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="scrollpoint sp-effect3">What i do</h2>
                <p class="scrollpoint sp-effect3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in
                    turpis quam. Nulla quis eleifend lectus.</p>
            </div>

            <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="image/ico5.png" alt="">
                <h3>SEO first</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At
                    vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>


            <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="image/ico4.png" alt="">
                <h3>Firstclass design</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At
                    vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>


            <div class="col-md-3 service scrollpoint sp-effect2">
                <img src="image/ico1.png" alt="">
                <h3>Fully responsive</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At
                    vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>

            <div class="col-md-3 service scrollpoint sp-effect2">
                <img src="image/ico3.png" alt="">
                <h3>Browser friendly</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At
                    vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            </div>

        </div>
    </div>
</section>

<section id="quotes" class="content-first">
    <div class="container">
        <div class="row scrollpoint sp-effect3">
            <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="blockquote-reverse">
                    <p><i class="fa fa-quote-left"></i> Design is not just what it looks like and feels like. Design is
                        how it works.</p>
                    <footer> Steve Jobs</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 scrollpoint sp-effect3">
                <ul class="brands brands-inline">
                    <li><a href="#"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <p>© Ricardo Martínez Montes 2016.</p>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>-->
<script src="plugins/creative-brands/creative-brands.js"></script>
<script src="plugins/easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="plugins/modernizr/modernizr.custom.js"></script>
<script src="plugins/waypoints/waypoints.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/app.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-83963456-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
